@font-face {
    font-family: simplex;
    src: url('assets/fonts/simplex.otf');
}

body {
    background-color: #c5c5c5;
    font-family: simplex;
    color: black;
    min-width: 380px;
    width:67%;
    max-width: 600px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    font-family: monospace;
}

.toplinks {
    background: dimgrey;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.mainsect {
    background: #c5c5c5;
    font-family: simplex;
    font-size: 20px;
    text-align: justify;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

.figcapt {
    background: #c5c5c5;
    font-family: simplex;
    font-size: 18px;
    text-align: justify;
    padding: 10px;
    margin-top: -25px;
    margin-left: auto;
    margin-right: auto;
}

.contact {
    background: dimgrey;
    font-family: simplex;
    color: white;
    text-align: center;
    font-size:16px;
    padding: 0px;
    max-height: 45px;
    max-width: 350px;
    margin-left: auto;
}

a:link {
    font-family: simplex;
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}

a:active {
    color: black;
    text-decoration: none;
}

#body a:link {
    color: black;
    text-decoration: none;
}

#body a:visited {
    color: black;
    text-decoration: none;
}

#body a:hover {
    color: white;
    text-decoration: none;
}

#body a:active {
    color: white;
    text-decoration: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
